@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&display=swap');


body,ul{
    margin: 0px;
}
header{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}
nav{
    background-color: rgb(0, 0, 0);
}
nav ul{
    display: flex;
    justify-content: right;
    

}
nav li{
    list-style-type:none;
    padding: 10px;
}
nav a{
    text-decoration: none;
    color: rgb(254, 245, 226);
    padding: 10px;
}
nav a:hover{
    background-color: rgb(28, 72, 182);
    color: rgb(196, 194, 209);
    transition: background-color 1s linear,color 1s ease-in;
}
.banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(205, 192, 255, 0.8);
   
}
.title{
    text-align: center;
    font-family: 'Mukta', sans-serif;
}
#photolist ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0px;
    
}
#photolist li{
    list-style-type: none;
    margin: 10px;
}
#photolist img{
    border-radius: 10%;
    box-shadow: 5px 5px 10px gray;

}
.emptyitem{
    width: 300px;
}
.gotop{
    font-size: 60px;
    color: rgb(0, 0, 3);
    position: fixed;
    right: 0px;
    bottom: 10px;
    

}